@import '../../styles/vars';

.ramp--markers-display {
  min-width: inherit;
  padding: 1rem;

  .ramp--markers-display__title {
    border: 0.05rem solid $primaryLight;
    border-radius: 0.25rem 0.25rem 0 0;
    margin-bottom: 1rem;
    background: $primaryLightest;

    h4 {
      font-weight: normal;
      padding: 0.5rem 1.5rem;
      margin: 0;
      color: $primaryDarker;
    }
  }

  table {
    font-family: arial, sans-serif;
    width: 100%;
    border-collapse: collapse;

    *:disabled {
      cursor: not-allowed;
      opacity: 0.8;
    }

    td:nth-child(3) {
      width: 40%;
    }

    td,
    th {
      border: 1px solid $primaryLightest;
      text-align: left;
      padding: 8px;
      font-weight: normal;
    }

    input.ramp--markers-display__edit-marker {
      width: 100%;
      padding: 0.5rem 0.25rem;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 0.2rem;
      box-sizing: border-box;
      font-size: inherit;
    }
  }

  .marker-actions {
    display: flex;
    justify-content: flex-end;

    p {
      margin: 0;
      margin-top: 0.25rem;
    }
  }

  .time-invalid {
    outline: none;
    border-color: $danger;
    box-shadow: 0 0 10px $danger;
  }

  .ramp--markers-display__edit-button {
    background-color: $primaryGreenDark;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 0.5rem;
  }

  .ramp--markers-display__edit-button-danger {
    background-color: $danger;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 0.5rem;
  }

  .ramp--markers-display__error-message {
    color: $danger;
    font-size: small;
    margin: auto;
  }
}

.ramp--markers-display__markers-empty {
  font-size: medium;
  padding: 2em;
}

// Styling for new marker form
.ramp-markers-display__new-marker {
  margin-bottom: 1rem;
}

.ramp--markers-display__new-marker-form {
  border: 1px solid $primaryLight;
  padding: 0.5rem;
  border-radius: 0.25rem;
  margin: 1rem 0;
  font-size: inherit;

  table.create-marker-form-table {
    border: none;
  }

  input.ramp--markers-display__create-marker {
    vertical-align: middle;
    padding: 0.5rem 0.25rem;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0.2rem;
    box-sizing: border-box;
    margin-left: 0.5rem;
  }
}

@media (max-width: 800px) {
  .ramp--markers-display__new-marker-form>input {
    margin: 10px 0;
  }

  .ramp--markers-display__new-marker-form {
    flex-direction: column;
    align-items: stretch;
  }
}
