@use '../../styles/vars';

.ramp--supplemental-files {
  dd {
    padding-bottom: 1rem;

    a {
      color: vars.$primaryGreenDark;
    }
  }

  .ramp--supplemental-files-heading {
    border: 0.05rem solid vars.$primaryLight;
    border-radius: 0.25rem 0.25rem 0 0;
    margin-bottom: 1rem;
    background: vars.$primaryLightest;

    h4 {
      font-weight: normal;
      padding: 0.5rem 1.5rem;
      margin: 0;
      color: vars.$primaryDarker;
    }
  }

  .ramp--supplemental-files-display-content {
    padding: 0 0 1.5rem 1.5rem;
    color: vars.$primaryDarker;
    max-height: 30rem;

    dt {
      font-weight: bold;
      padding-left: 1.5rem;
    }

    dt~dd {
      padding-left: 1.5rem;
    }

    dd {
      padding-bottom: 0;
      margin-left: 1.5rem;
    }

    a {
      color: vars.$primaryGreenDark;
    }
  }

  .ramp--supplemental-files-empty {
    padding: 2em;
  }
}
