@import '../../styles/vars';

.ramp--no-media-message {
  aspect-ratio: 16/9;
  background-color: $primaryDarkest;
  width: 80%;
  margin: auto;

  .message-display {
    transform: translate(60%, 80%);
    position: absolute;
    margin: 0;
    color: white;
    width: 25%;

    a {
      color: $primaryGreen;
    }
  }

  #iiif-media-player {
    display: none;
  }
}
