@import '../../styles/vars';

.ramp--no-media-message {
  aspect-ratio: 16/9;
  background-color: $primaryDarkest;
  width: 100%;
  margin: auto;

  /*
    This handles the height of the message display div when aspect-ratio CSS 
    property is not supported. Specific to iOS versions < 14.
  */
  @supports not (aspect-ratio: 16 / 9) {
    height: 40vh;

    @media screen and (orientation: landscape) {
      height: 70vh;
    }
    @media only screen and (max-device-width: 480px) {
      height: 25vh;
    }

    @media screen and (max-device-width: 480px) and (orientation: landscape) {
      height: 100vh;
    }
  }

  .message-display {
    margin: auto;
    color: white;
    // Place the message in the center both vertically and horizontally in the div
    padding: 20% 30%;
    z-index: 50;
    font-size: medium;

    a {
      color: $primaryGreen;
    }

    // Override vertical and horizontal spacing for smaller devices
    @media only screen and (max-device-width: 480px) {
      padding: 20% 25%;
    }
  }

  #iiif-media-player {
    display: none;
  }
}