@import '../../styles/_vars.scss';

.video-js .vjs-custom-progress-bar {
  cursor: pointer;
  // padding-top: 1.4em;
  // width: 100%;
  flex: auto;
  display: flex;
  align-items: center;
  min-width: 4em;
  touch-action: none;
}

.vjs-progress-holder {
  border-radius: 0px;
  height: 4px !important;
  // background-color: $primary;
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.vjs-custom-progress {
  -webkit-appearance: none;
  background-color: $primaryGreenLight;
  // width: 100%;
  height: 4px;
  // opacity: 0.6;
  margin: 0;
  // transition: opacity 0.2;
  cursor: pointer;
  &:hover {
    transform: scale(1, 1) !important;
  }
}

.vjs-custom-progress::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  appearance: none;
  height: 4px;
  // animation-duration: 0.2s;
  background: linear-gradient(
    90deg,
    $primaryGreenDark var(--range-progress),
    $primaryGreenLight var(--range-progress)
  );
}

.vjs-custom-progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  background: $primaryLight;
  border-radius: 5px;
  width: 10px;
  height: 10px;
  opacity: 1 !important;
  margin-top: -0.25em;
  z-index: 1001;
  // &:hover {
  //   transform: scale(1.3, 1.3) !important;
  // }
}

.block-stripes {
  height: inherit;
  color: white;
  background: repeating-linear-gradient(
    45deg,
    $primaryDarker,
    $primaryDarker 8px,
    $primaryDark 8px,
    $primaryDark 16px
  );
}

.vjs-progress-holder .tooltiptext {
  visibility: hidden;
  width: 5em;
  background-color: $primaryDark;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  top: -2em;
  position: absolute;
  // display: block;
  z-index: 1;
  // margin-left: 1.1em;
}

.vjs-progress-holder:hover .tooltiptext {
  visibility: visible;
}

.vjs-progress-holder .tooltiptext::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: $primaryDark transparent transparent transparent;
}
