@import '../../styles/_vars.scss';

.ramp--structured-nav__content {
  margin-top: 0;
  overflow-y: auto;

  a {
    color: $primaryGreenDark;
    transition: 0.25s;
    text-decoration: none;

    &:hover {
      color: $primaryDarker;
    }
  }

  p {
    padding-top: 1em;
    color: $primaryDarker;
  }

  // Remove top border for first SectionHeading (causes double lines)
  .ramp--structured-nav__section {
    &:first-child {
      border-top: none;
    }
    border-top: 1px solid $primaryLight;
  }
}

// Remove indentation for multiple Canvas structure with root Range
.ramp--structured-nav__content-with_root {
  >ul.ramp--structured-nav__list {
    >li {
      >ul>li {
        padding: 0 0 0.5rem 0;
      }
      >ul>li:last-child {
        padding: 0 0 0 0;
      }
    }
  }
}

.ramp--structured-nav__content.playlist-items {
  padding: 1em 1.5em;
  ul.ramp--structured-nav__list>li:last-child {
    padding: 0
  }
}

// Border box
.ramp--structured-nav__border {
  margin-top: 20px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  max-height: 40vh;
  position: relative;
}

.ramp--structured-nav__border>span {
  display: none;
}

// Scroll to see more message
.ramp--structured-nav__border>span.scrollable {
  background: $primary;
  text-align: center;
  display: block;
  position: absolute;
  color: black;
  font-size: 13px;
  width: fit-content;
  bottom: 0;
  left: 35%;
  border: 1px solid #ddd;
  border-radius: 0.25rem 0.25rem 0 0;
  border-bottom: none;
  padding: 0.25em;

  @media (min-width: 585px) and (max-width: 768px) {
    left: 25%;
  }
}

// CSS for accordion style UI in structure
ul.ramp--structured-nav__list {
  list-style: none;
  padding: 0 0 0 0;
  margin: 0px;
  font-size: medium;

  // CSS for nested SectionHeading in structures with root range
  // E.g. IIIF cookbook: https://iiif.io/api/cookbook/recipe/0065-opera-multiple-canvases
  li.section-list-item {
    padding: 0;
    border-top: 1px solid $primaryLight;
  }

  li {
    display: block;
    padding: 0 0 0.5rem 1em;

    .structure-item-locked {
      vertical-align: middle;
    }

    ul {
      padding-left: 0.5em;
    }

    ul>li {
      padding: 0 0 0.5rem 1rem;
    }

    ul>li:last-child {
      padding: 0 0 0 1rem;
    }
  }

  li.active>a {
    color: $primaryDarkest;
  }

  li.active {
    font-weight: bold !important;

    .tracker {
      width: 0;
      height: 0;
      border-top: 3px solid transparent;
      border-left: 7px solid $primaryDarker;
      border-bottom: 3px solid transparent;
      display: inline-block;
      margin-left: -1rem;
      margin-right: 0.5rem;
      margin-top: -0.5rem;
    }
  }
  svg.structure-item-locked {
    margin-right: 0.5rem;
  }
}

.ramp--structured-nav__section.active button {
  font-weight: bold;
}

.ramp--structured-nav__section {
  .section-head-buttons {
    display: grid;
    grid-template-columns: 1fr auto;

    span.ramp--structured-nav__section-title {
      background: $primaryLightest;
    }
  }

  display: flex;
  flex-direction: column;
  background-color: transparent;
  border-top: 1px solid $primaryLight;
  font-size: 1.25rem;
  font-weight: 400;

  .not-clickable {
    pointer-events: none;
  }
  button {
    border: none;
    cursor: pointer;
    text-align: left;
    width: 100%;
    padding: 1rem;
    font-size: 1.25rem;
    font-weight: inherit;
    background: $primaryLightest;

    &:hover {
      background-color: $primaryGreenLight;
    }

    span {
      padding-left: 0;
    }
  }

  button.collapse-expand-button {
    .arrow {
      border: solid black;
      border-width: 0 0.1em 0.1em 0;
      display: inline-block;
      padding: 0.215em;
    }

    .up {
      transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
      transition: transform .35s ease-in-out;
    }

    .down {
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      transition: transform .35s ease-in-out;
    }
    &:hover {
      background-color: $primaryLightest;
    }
  }

  // span {
  //   padding: 1rem;
  // }

  span.ramp--structured-nav__section-duration {
    border: 1px solid $primaryDark;
    border-radius: 999px;
    color: $primaryDarkest;
    font-size: 0.75rem;
    letter-spacing: 0.02rem;
    line-height: 1.6;
    padding: 0 0.5rem;
    margin-left: 0.5rem;
  }
}
