@import '../../styles/_vars.scss';

.ramp--structured-nav {
  margin-top: 0;
  overflow-y: auto;

  a {
    color: $primaryGreenDark;
    transition: 0.25s;
    text-decoration: none;

    &:hover {
      color: $primaryDarker;
    }
  }

  p {
    padding-top: 1em;
    color: $primaryDarker;
  }
}

.ramp--structured-nav.playlist-items {
  padding: 1em 2em;
}

// Border box
.ramp--structured-nav__border {
  margin-top: 20px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  max-height: 40vh;
  position: relative;
}

.ramp--structured-nav__border>span {
  display: none;
}

// Scroll to see more message
.ramp--structured-nav__border>span.scrollable {
  background: $primary;
  text-align: center;
  display: block;
  position: absolute;
  color: black;
  font-size: 13px;
  width: 15%;
  bottom: 0;
  left: 40%;
  border: 1px solid #ddd;
  border-radius: 0.25rem 0.25rem 0 0;
  border-bottom: none;
  padding: 0.25em;
}

// CSS for accordion style UI in structure
ul.ramp--structured-nav__list {
  list-style: none;
  padding: 0 0 0 0;
  margin: 0px;

  li:last-child {
    padding: 0 0 0 0;
  }

  li {
    display: block;
    padding: 0 0 0.5rem 0px;

    ul>li {
      padding: 0 0 0.5rem 1rem;
    }

    ul>li:last-child {
      padding: 0 0 0 1rem;
    }
  }

  li.active>a {
    color: $primaryDarkest;
  }

  li.active {
    font-weight: bold !important;

    .tracker {
      width: 0;
      height: 0;
      border-top: 3px solid transparent;
      border-left: 7px solid $primaryDarker;
      border-bottom: 3px solid transparent;
      display: inline-block;
      margin-left: -1rem;
      margin-right: 0.5rem;
      margin-top: -0.5rem;
    }
  }

  .ramp--structured-nav__section.active {
    font-weight: bold;
  }

  .ramp--structured-nav__section {
    display: flex;
    align-items: center;
    background-color: $primaryLightest;
    border-top: 1px solid $primaryLight;
    font-size: 1.25rem;
    font-weight: 400;

    button {
      border: none;
      cursor: pointer;
      text-align: left;
      width: 100%;
      padding: 1rem;
      font-size: 1.25rem;
      font-weight: inherit;
      background: transparent;

      &:hover {
        background-color: $primaryGreenLight;
      }

      span {
        padding-left: 0;
      }
    }

    span {
      padding: 1rem;
    }

    span.ramp--structured-nav__section-duration {
      border: 1px solid $primaryDark;
      border-radius: 999px;
      color: $primaryDarkest;
      font-size: 0.75rem;
      letter-spacing: 0.02rem;
      line-height: 1.6;
      padding: 0 0.5rem;
      margin-left: 0.5rem;
    }
  }

  svg.structure-item-locked {
    margin-right: 0.5rem;
  }
}