@import '../../styles/main.scss';

.irmp--structured-nav {
  margin-top: 20px;
}

ul.irmp--structured-nav__list {
  list-style: none;
  padding: 0 0 0 10px;
  margin: 0px;

  li {
    display: block;
    padding: 0.25rem 0.5rem;
  }

  li.active > a {
    color: $primaryDarkest;
  }

  li.active > a:before {
    content: $bulletPlaying;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }

  span.irmp--structured-nav__section-title {
    color: $primaryDarker;
  }
}

// Put playhead on top of markers
.video-js .vjs-play-progress:before {
  z-index: 101;
}
