@use '../../styles/_vars.scss';

.ramp--structured-nav.display {
  display: flow-root;

  .ramp--structured-nav__sections {
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
    background-color: vars.$primaryLightest;
    border: 1px solid vars.$primaryLight;
    border-radius: 0.25em 0.25em 0 0;
    border-bottom: none;

    .ramp--structured-nav__sections-text {
      font-weight: bold;
      font-size: vars.$fontSizeLarge;
      &.hidden {
        visibility: hidden;
      }
    }

    .ramp--structured-nav__collapse-all-btn {
      background-color: vars.$primaryGreenDark;
      color: vars.$primaryLightest;
      padding: 0.5em 0.75em;
      border: none;
      border-radius: 0.3em;
      cursor: pointer;
      align-items: flex-end;
      font-size: 13px;

      .arrow {
        border: solid vars.$primaryLightest;
        border-width: 0 0.1em 0.1em 0;
        display: inline-block;
        padding: 0.25em;
        margin-left: 0.5em;
      }

      .up {
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
        transition: transform .35s ease-in-out;
      }

      .down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transition: transform .35s ease-in-out;
      }
    }
  }

  .ramp--structured-nav__border {
    margin-top: 0 !important;
    border-radius: 0 0 0.25em 0.25em;
    width: 100%;
  }
}

.ramp--structured-nav__sr-only {
  position: absolute;
  left: -9999px;
}

.ramp--structured-nav__content {
  margin-top: 0;
  overflow-y: auto;

  a {
    color: vars.$primaryGreenDark;
    transition: 0.25s;
    text-decoration: none;
    display: inline-flex;
    gap: 0.1em;

    &:hover,
    &:focus {
      color: vars.$primaryDarker;
    }
  }

  p {
    padding-top: 1em;
    color: vars.$primaryDarker;
  }

  span {
    overflow-wrap: anywhere;
  }

  // Remove top border for first section (causes double lines)
  .ramp--structured-nav__section {
    &:first-child {
      border-top: none;
    }
    border-top: 1px solid vars.$primaryLight;
  }
}

// Remove indentation for multiple Canvas structure with root Range
.ramp--structured-nav__content-with_root {
  >ul.ramp--structured-nav__tree {
    >li>ul {
      padding: 0;
    }
    >li>ul>li:last-child {
      padding: 0 0 0 0;
    }
  }
}

.ramp--structured-nav__content.playlist-items {
  // Add top border with radius
  border-top: 1px solid #ddd;
  border-radius: 0.25rem;
  padding: 1em 1.5em;
  // Change display to align locked-icon with label in playlists
  a {
    display: inline-block;
  }
}

// Border box
.ramp--structured-nav__border {
  margin-top: 20px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  // Remove border-top to avoid double lines with section elements
  border-top: none;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  max-height: 40vh;
  position: relative;
}

.ramp--structured-nav__border>span {
  display: none;
}

// Scroll to see more message
.ramp--structured-nav__border>span.scrollable {
  background: vars.$primary;
  text-align: center;
  display: block;
  position: absolute;
  color: black;
  font-size: 13px;
  width: fit-content;
  bottom: 0;
  left: 35%;
  border: 1px solid #ddd;
  border-radius: 0.25rem 0.25rem 0 0;
  border-bottom: none;
  padding: 0.25em;

  @media (min-width: 585px) and (max-width: 768px) {
    left: 25%;
  }
}

// CSS for accordion style UI in structure
ul.ramp--structured-nav__tree {
  list-style: none;
  padding: 0 0 0 0;
  margin: 0px;
  font-size: medium;

  // CSS for nested sections in structures with root range
  // E.g. IIIF cookbook: https://iiif.io/api/cookbook/recipe/0065-opera-multiple-canvases
  li.section-tree-item {
    padding: 0;
    border-top: 1px solid vars.$primaryLight;
  }

  // Remove padding when line-height is set
  li:has(.ramp--structured-nav__item-link) {
    padding-bottom: 0;
  }

  li {
    display: block;
    padding: 0 0 0.5rem 1em;
    font-weight: normal;

    .structure-item-locked {
      vertical-align: middle;
    }

    // Set line-height to create clickable space around link
    .ramp--structured-nav__item-link {
      line-height: 1.65em;

      .structured-nav__item-label {
        margin-left: 0.2em;
      }
    }

    ul {
      padding-left: 0.5em;
    }

    ul>li {
      padding: 0 0 0.5rem 1rem;
    }

    ul>li:last-child {
      padding: 0 0 0 1rem;
    }
  }

  li.active>a {
    color: vars.$primaryDarkest;
  }

  li.active {
    font-weight: bold !important;

    >.tracker {
      width: 0;
      height: 0;
      border-top: 3px solid transparent;
      border-left: 7px solid vars.$primaryDarker;
      border-bottom: 3px solid transparent;
      display: inline-block;
      margin-left: -1rem;
      margin-right: 0.5rem;
      margin-top: -0.5rem;
    }
  }
  svg.structure-item-locked {
    margin-right: 0.5rem;
  }
}

.ramp--structured-nav__section.active button {
  font-weight: bold;
}

.ramp--structured-nav__section {
  &.ramp--structured-nav__section-head-buttons {
    display: grid;
    grid-template-columns: 1fr auto;

    span.ramp--structured-nav__section-title {
      background: vars.$primaryLightest;
    }
  }

  background-color: transparent;
  border-top: 1px solid vars.$primaryLight;
  font-size: vars.$fontSizeLarge;
  font-weight: 400;

  .not-clickable {
    pointer-events: none;
  }

  button {
    border: none;
    cursor: pointer;
    text-align: left;
    width: 100%;
    padding: 1rem;
    font-weight: inherit;
    background: vars.$primaryLightest;

    &:hover,
    &:not(.not-clickable):focus {
      background-color: vars.$primaryGreenLight;
    }

    span {
      padding-left: 0;
      font-size: vars.$fontSizeLarge;
    }
  }

  span.collapse-expand-button {
    padding: 1em;
    background: vars.$primaryLightest;
    cursor: pointer;

    .arrow {
      border: solid black;
      border-width: 0 0.1em 0.1em 0;
      display: inline-block;
      padding: 0.215em;
    }

    .up {
      transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
      transition: transform .35s ease-in-out;
    }

    .down {
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      transition: transform .35s ease-in-out;
    }
    &:hover {
      background-color: vars.$primaryLightest;
    }
  }

  .ramp--structured-nav__section-title {
    display: flex;
    gap: 0.2em;

    span.ramp--structured-nav__section-label {
      overflow-wrap: anywhere;
      margin-left: 0.2em;
    }

    span.ramp--structured-nav__section-duration {
      border: 1px solid vars.$primaryDark;
      border-radius: 999px;
      color: vars.$primaryDarkest;
      font-size: vars.$fontSizeMedium;
      letter-spacing: 0.02rem;
      line-height: 1.6;
      padding: 0 0.5rem;
      margin-left: 0.5rem;
      text-wrap: nowrap;
    }
  }
}
