/*
 * From avalon project: /app/assets/stylesheets/mejs4/mediaelement-common-styles.scss
 *
 * Time rail and button styles
*/

$avalon-primary-color: #84a791;

.mejs-overlay-loading {
  border-radius: 50% !important;
}

.mejs-time-clip {
  background: linear-gradient(#ddd, #ddd);
  opacity: 0.3;
  height: 14px !important;
  top: -3px !important;
}

.mejs__container {
  z-index: 1000;
}

// MEJS4 custom highlight for a section within the MEJS time rail element
.mejs-highlight-clip {
  background: linear-gradient($avalon-primary-color, $avalon-primary-color);
  opacity: 0.55;
  height: 24px;
  top: -7px;
  display: block;
  position: relative;
  z-index: -1;
}

// Player Controls
.mejs__button {
  width: 30px;
}

.mejs__button > button {
  background: transparent url('mejs4-controls.svg');
  background-repeat: none;
  background-size: 170px 40px;
}

.mejs__play > button {
  background-position: 0px 0px;
}

.mejs__pause > button {
  background-position: -20px 0px;
}

.mejs__fullscreen-button > button {
  background-position: -60px 0px;
}

.mejs__unfullscreen > button {
  background-position: -80px 0px;
}

.mejs__mute,
.mejs__unmute {
  width: 36px;
}

.mejs__mute > button {
  background-position: 0px -20px;
  width: 25px;
}

.mejs__unmute > button {
  background-position: -25px -20px;
  width: 25px;
}

.mejs__qualities-button > button {
  background-position: -40px 0px;
  text-indent: 200px; //hide standard text off to the side
  margin: 10px 6px;
  width: 20px;
}

.mejs__captions-button > button {
  width: 22px;
  background-position: -140px -20px;
}

.mejs__captions-enabled > button {
  border-bottom: 2px solid red;
  padding: 11px;
}

.mejs__hd-toggle-button {
  width: 35px;
}

.mejs__hd-toggle-button > button {
  width: 27px;
  background-position: -141px -2px;
  filter: brightness(60%);
  -webkit-filter: brightness(60%);
}

.mejs__hdtoggle-on > button {
  filter: none;
  -webkit-filter: none;
}
