@use '../../styles/_vars.scss';

.ramp--transcript_nav {
  max-height: 30em;
  padding: 10px;

  div.transcript_content {
    height: 19em;
    overflow-y: auto;

    p {
      color: vars.$primaryDarker;
    }

    #no-transcript {
      padding: 2em;
    }
  }

  div.transcript_content.static {
    overflow-y: unset;
  }

  iframe.transcript_viewer {
    width: 100%;
    width: -moz-available;
    /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;
    /* Mozilla-based browsers will ignore this. */
    width: fill-available;
    height: 25em;
    /* Parent div's height - 5*/
  }
}

span.ramp--transcript_item {
  display: flex;
  text-decoration: none;
  transition: background-color 0.2s ease-in;
  align-items: baseline;

  &.untimed {
    // Enable pointer events for untimed items to allow scrolling on click
    cursor: pointer;
    // Highlight entire cue on hover
    &:focus,
    &:hover {
      background-color: vars.$primaryGreenLight;
    }
  }

  &.metadata-block {
    background: vars.$primaryLighter;
    padding: 0.5em;
    border: 0.01em solid vars.$primary;
    border-radius: 0.25em;
  }

  &.active {
    background-color: vars.$primaryLighter;
  }

  &.disabled {
    cursor: default;
  }

  &.focused,
  &.focused:hover,
  &.focused:focus {
    background-color: vars.$primaryGreenSemiLight;
  }

  &.focused {
    .ramp--transcript_highlight.current-hit {
      border: 1px solid;
      text-decoration: none;
    }
  }

  .ramp--transcript_time {
    cursor: pointer;
    margin-right: 1em;
    color: vars.$primaryGreenDark;

    &:hover {
      text-decoration: underline;
    }
  }

  .ramp--transcript_text {
    color: black;
  }

  &>span::after {
    display: block;
    content: attr(title);
    font-weight: bold;
    height: 1px;
    color: transparent;
    overflow: hidden;
    visibility: hidden;
  }
}

.ramp--transcript_highlight {
  font-weight: bold;
  color: vars.$primaryGreenDimmer;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.ramp--transcript_cue-texts {
  display: flex;
  flex-direction: column;
  line-height: 1.5em;
  padding: 0.5em;
  width: 100%;

  :last-child {
    margin-left: auto;
  }
  .ramp--transcript_text {
    margin: 0;
  }

  .ramp--transcript__show-more-less {
    font-size: small;
    cursor: pointer;
    background: none;
    border: 1px solid vars.$primaryDarker;
    border-radius: 3px;
  }
}
