@import '../../styles/_vars.scss';

.ramp--transcript_nav {
  max-height: 30em;
  padding: 10px;

  div.active {
    background-color: $primaryLight;
  }

  div.transcript_content {
    height: 25em;
    overflow-y: auto;

    p {
      font-size: small;
      color: $primaryDarker;
    }

    #no-transcript {
      font-size: medium;
      padding: 2em;
    }
  }

  div.transcript_content.static {
    overflow-y: unset;
  }

  div.transcript_menu {
    position: sticky;
    top: 0;
  }

  iframe.transcript_viewer {
    width: 100%;
    width: -moz-available;
    /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;
    /* Mozilla-based browsers will ignore this. */
    width: fill-available;
    height: 25em;
    /* Parent div's height - 5*/
  }
}

div.ramp--transcript_item {
  display: flex;
  margin: 10px 10px 10px 10px;
  cursor: pointer;

  &:hover {
    background-color: $primaryGreenLight;
    transition: background-color 0.2s ease-in;
  }

  .ramp--transcript_time {
    margin-right: 15px;

    a {
      text-decoration: none;
      color: $primaryGreenDark;

      .disabled {
        cursor: default;
      }
    }
  }

  .ramp--transcript_text {
    color: black;
  }

  span::after {
    display: block;
    content: attr(title);
    font-weight: bold;
    height: 1px;
    color: transparent;
    overflow: hidden;
    visibility: hidden;
  }
}

/* TranscriptSelector styling */
.ramp--transcript_selector {
  margin-bottom: 20px;
  background-color: $primaryLightest;
  border: 1px solid $primaryLight;
  padding: 1em;
  border-radius: 3px;
  position: relative;

  select {
    font-family: $fontPrimary;
    padding: 4px;
    width: 100%;
  }

  .selector-content {
    background-color: white;
    margin: 0;
    position: absolute;
    width: 50%;
  }
}

@media only screen and (min-width: 992px) {
  .ramp--transcript_selector>div>select {
    max-width: 100%;
  }
}

/* TranscriptDownloader styling */
button.ramp--transcript_downloader {
  float: right;
  margin: 0;
  position: relative;
  color: $primaryDarkest;
  border-radius: 3px;
  text-align: center;
  line-height: 20px;
  border: 1px solid $primaryLight;
  width: fit-content;
}

/* Extra small devices (768px and down) */
@media only screen and (max-width: 768px) {
  .ramp--transcript_selector {
    min-height: 4em;

    select {
      min-width: 8em;
    }
  }

  button.ramp--transcript_downloader {
    .download-label:after {
      content: 'Download';
    }
  }
}

/* Small devices (768px and up) */
@media only screen and (min-width: 768px) {
  .ramp--transcript_selector {
    min-height: 3.5em;
    padding: 0.5em;
  }

  button.ramp--transcript_downloader {
    .download-label:after {
      content: 'Download transcript';
    }
  }
}
