@import '../../styles/_vars.scss';

.ramp--transcript_nav {
  max-height: 30em;
  padding: 10px;

  a.active {
    background-color: $primaryLight;
  }

  div.transcript_content {
    height: 20em;
    overflow-y: auto;

    p {
      font-size: small;
      color: $primaryDarker;
    }

    #no-transcript {
      font-size: medium;
      padding: 2em;
    }
  }

  div.transcript_content.static {
    overflow-y: unset;
  }

  div.transcript_menu {
    position: sticky;
    top: 0;
  }

  iframe.transcript_viewer {
    width: 100%;
    width: -moz-available;
    /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;
    /* Mozilla-based browsers will ignore this. */
    width: fill-available;
    height: 25em;
    /* Parent div's height - 5*/
  }
}

a.ramp--transcript_item {
  display: flex;
  margin: 10px 10px 10px 10px;
  cursor: pointer;
  text-decoration: none;

  &:hover,
  &:focus {
    background-color: $primaryGreenLight;
    transition: background-color 0.2s ease-in;
  }

  .disabled {
    cursor: default;
  }

  .ramp--transcript_time {
    margin-right: 15px;
    color: $primaryGreenDark;
  }

  .ramp--transcript_text {
    color: black;
  }

  span::after {
    display: block;
    content: attr(title);
    font-weight: bold;
    height: 1px;
    color: transparent;
    overflow: hidden;
    visibility: hidden;
  }
}

/* TranscriptSelector styling */
.ramp--transcript_selector {
  margin-bottom: 20px;
  background-color: $primaryLightest;
  border: 1px solid $primaryLight;
  padding: 1em;
  border-color: $primaryLight;
  border-radius: 3px;
  display: flex;
  flex-wrap: wrap;
}

.ramp--transcript_list {
  flex: 2;

  select {
    font-family: $fontPrimary;
    padding: 0.25rem;
    width: 80%;
  }
}

.ramp--transcript_machine_generated {
  flex-basis: 100%;
  margin: 0;
}

/* TranscriptDownloader styling */
.ramp--transcript_downloader {
  margin: 0;
  color: $primaryLightest;
  border-radius: 0.25rem;
  border: 1px solid $primaryLight;
  max-height: 2rem;
  min-height: 2rem;
  background-color: $primaryGreenDark;

  span {
    padding: 0.5rem;
  }
}

/* Extra small devices (768px and down) */
@media only screen and (max-width: 768px) {
  .ramp--transcript_selector {
    min-height: 4em;

    select {
      min-width: 8em;
    }
  }

  .ramp--transcript_downloader {
    .download-label:after {
      content: 'Download';
    }
  }
}

/* Small devices (768px and up) */
@media only screen and (min-width: 768px) {
  .ramp--transcript_selector {
    min-height: 3.5em;
    padding: 0.5em;
  }

  .ramp--transcript_downloader {
    .download-label:after {
      content: 'Download transcript';
    }
  }
}

.lds-spinner {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  left: 43%;
}

.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: $primaryGreenDark;
}

.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}

@keyframes lds-spinner {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
