@use '../../styles/vars';

.ramp--annotations-display {
  min-width: inherit;
  padding: 10px;

  .ramp--annotations__title {
    border: 0.05rem solid vars.$primaryLight;
    border-radius: 0.25rem 0.25rem 0 0;
    margin-bottom: 1rem;
    background: vars.$primaryLightest;

    h4 {
      font-weight: normal;
      padding: 0.5rem 1.5rem;
      margin: 0;
      color: vars.$primaryDarker;
    }
  }

  table {
    font-family: arial, sans-serif;
    width: 100%;
    border-collapse: collapse;

    *:disabled {
      cursor: not-allowed;
      opacity: 0.8;
    }

    td:nth-child(3) {
      width: 40%;
    }

    th {
      border: 1px solid vars.$primaryLightest;
      padding: 0.5rem;
    }

    td {
      border: 1px solid vars.$primaryLightest;
      text-align: left;
      padding: 0.5rem;
      font-weight: normal;
    }

    input.ramp--markers-display__edit-marker {
      width: 100%;
      padding: 0.5rem 0.25rem;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 0.2rem;
      box-sizing: border-box;
      font-size: inherit;
    }
  }

  .marker-actions {
    display: flex;
    justify-content: flex-end;

    svg {
      vertical-align: sub;
    }

    p {
      margin: 0;
      margin-top: 0.25rem;
    }
  }

  .time-invalid {
    outline: none;
    border-color: vars.$danger;
    box-shadow: 0 0 10px vars.$danger;
  }

  .ramp--markers-display__edit-button {
    background-color: vars.$primaryGreenDark;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 0.5rem;
  }

  .ramp--markers-display__edit-button-danger {
    background-color: vars.$danger;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 0.5rem;
  }

  .ramp--markers-display__error-message {
    color: vars.$danger;
    font-size: small;
    margin: auto;
  }
}

// Styling for new marker form
.ramp-markers-display__new-marker {
  margin-bottom: 1rem;
}

.ramp--markers-display__new-marker-form {
  border: 1px solid vars.$primaryLight;
  padding: 0.5rem;
  border-radius: 0.25rem;
  margin: 1rem 0;
  font-size: vars.$fontSizeMedium;
  font-weight: bold;

  table.create-marker-form-table {
    border: none;
  }

  input.ramp--markers-display__create-marker {
    width: 80%;
    vertical-align: middle;
    padding: 0.5rem 0.25rem;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0.2rem;
    box-sizing: border-box;
    margin-left: 0.5rem;
    font-size: inherit;
  }
}

/* Annotations styling */
.ramp--annotations__list {
  .ramp--annotations__select {
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid vars.$primaryLight;
    border-radius: 3px;
    display: flex;
    row-gap: 0.5em;
    flex-direction: column;
    background-color: vars.$primaryLightest;

    .ramp--annotations__multi-select {
      position: relative;
      font-family: Arial, sans-serif;

      .ramp--annotations__scroll input {
        accent-color: vars.$primaryGreenDark;
      }
    }

    .ramp--annotations__multi-select-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      background-color: #fff;
      cursor: pointer;
      user-select: none;
    }

    .ramp--annotations__multi-select-header:hover {
      border-color: #888;
    }

    .annotations-dropdown-arrow {
      font-size: 12px;
      transition: transform 0.3s ease;
    }

    .annotations-dropdown-arrow.open {
      transform: rotate(180deg);
    }

    .annotations-dropdown-menu {
      margin: 0;
      padding: 0;
      list-style-type: none;
      position: absolute;
      top: auto;
      left: 0;
      width: 100%;
      border: 1px solid #ccc;
      border-radius: 4px;
      background-color: #fff;
      max-height: 200px;
      overflow-y: auto;
      z-index: 1000;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .annotations-dropdown-item {
      padding: 8px 10px;
    }

    .annotations-dropdown-item:hover {
      background-color: #f0f0f0;
    }

    .annotations-dropdown-item input[type="checkbox"] {
      margin-right: 8px;
      accent-color: vars.$primaryGreenDark;
    }
    .annotations-dropdown-menu li:focus {
      outline: none !important;
      background-color: vars.$primaryLighter;
      border: 2px solid vars.$primaryGreenDark;
    }
  }

  .ramp--annotations__content {
    height: 19em;
    overflow-y: auto;

    >div {
      padding: 0;
      margin-top: 0;
    }
  }

  .ramp--annotations__annotation-row {
    &.active {
      background-color: vars.$primaryLighter;
    }

    .ramp--annotations__annotation-row-time-tags {
      cursor: pointer;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      border-bottom: 1px dotted vars.$primaryDarker;
      padding: 0.5em; // Need to be same in .ramp--annotations__annotation-texts
      padding-bottom: 0.25em;

      &:hover,
      &:focus {
        background-color: vars.$primaryGreenLight;
      }

      .ramp--annotations__annotation-tags {
        display: flex;
        column-gap: 0.1em;
        flex-wrap: wrap;
        justify-content: end;
      }

      p.ramp--annotations__annotation-tag {
        margin: 0;
        font-size: small;
        border: 1px solid vars.$primaryDarker;
        border-radius: 3px;
        padding: 0 0.2em;
        align-self: flex-end;
        text-wrap: nowrap;

        &.hidden {
          display: none;
        }
      }

      button.ramp--annotations__show-more-tags {
        background-color: white;
        border: 1px solid;
        border-radius: 3px;
        cursor: pointer;
        align-self: flex-end;
        padding: 0.36em 0.3em 0.36em 0.2em;

        // Flip left and right padding when arrow is turned
        &:has(i.left) {
          padding: 0.36em 0.2em 0.36em 0.3em;
        }

        .arrow {
          border: solid black;
          border-width: 0 0.1em 0.1em 0;
          display: inline-block;
          padding: 0.15em;
        }

        .right {
          transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg);
          transition: transform .35s ease-in-out;
        }

        .left {
          transform: rotate(135deg);
          -webkit-transform: rotate(135deg);
          transition: transform .35s ease-in-out;
        }
      }
    }

    .ramp--annotations__annotation-times {
      text-wrap: nowrap;
    }

    .ramp--annotations__annotation-texts {
      display: flex;
      flex-direction: column;
      line-height: 1.5em;
      padding: 0.5em; // Need to be same in .ramp--annotations__annotation-row-time-tags

      :last-child {
        margin-left: auto;
      }

      p.ramp--annotations__annotation-text {
        margin: 0;

        &.hidden {
          display: none;
        }

        // Links within annotation texts
        a {
          color: vars.$primaryGreenDark;
          &:hover {
            color: vars.$primaryDarker;
          }
        }
      }

      .ramp--annotations__show-more-less {
        font-size: small;
        cursor: pointer;
        background: none;
        border: 1px solid vars.$primaryDarker;
        border-radius: 3px;
      }
    }
  }
}
