@use '../../styles/vars';

.ramp--error-message__alert {
	display: flex;
	justify-content: space-between;
	padding: 1rem;
	background-color: rgba(vars.$danger, 0.2);
	border-radius: 0.25rem;
}

.ramp--error-message__message {
	padding: 12px 20px;
}

.ramp--error-message__reset-button {
	background-color: vars.$primaryGreenDark;
	color: white !important;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: medium;
}
