orbs:
  node: circleci/node@7.1.0
version: 2.1

workflows:
  test-matrix:
    jobs:
      - node/test:
          name: 'node-22'
          pkg-manager: yarn
          executor:
            name: 'node/default'
            tag: 22.14.0
      - node/test:
          name: 'node-20'
          pkg-manager: yarn
          executor:
            name: 'node/default'
            tag: 20.19.0