@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

$primaryLightest: #f2f2f2;
$primaryLight: #d3d3d3;
$primary: #bbbbbb;
$primaryDark: #7e7e7e;
$primaryDarker: #333333;
$primaryDarkest: #000;
$primaryGreenLight: #cfd8d3;
$primaryGreen: #80a590;
$primaryGreenDark: #477076;

$fontPrimary: 'Open Sans', sans-serif;

$linkColor: $primary;
