@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

$primaryLightest: #f2f2f2;
$primaryLighter: #ebebeb;
$primaryLight: #d3d3d3;
$primary: #bbbbbb;
$primaryDark: #7e7e7e;
$primaryDarker: #333333;
$primaryDarkest: #000;
$primaryGreenLight: #cfd8d3;
$primaryGreenSemiLight: #d0dcdc;
$primaryGreen: #80a590;
$primaryGreenDim: #4d7b7b;
$primaryGreenDimmer: #3b5e5e;
$primaryGreenDark: #2a5459;
$primaryGreenDarker: #1a3a3f;

$fontSizeLarge: 20px;
$fontSizeMedium: 12px;

$danger: #e0101a;

$fontPrimary: 'Open Sans', sans-serif;

$linkColor: $primary;
