@import './vars';

[class*='ramp--'] {
  font-family: $fontPrimary;
  color: $primaryDarker;
}

/** Begin - Overrides for VideoJS related styling **/

// videojs-markers-plugin
.vjs-marker {
  /* to ignore/pass-through click-, tap-, scroll- and hover events
  https://stackoverflow.com/questions/3680429/click-through-div-to-underlying-elements?answertab=active#tab-top
  */
  pointer-events: none;

  &:hover {
    transform: scale(1, 1) !important;
  }
}

// @silvermine/videojs-quality-selector
.vjs-menu {
  li {
    font-size: 1em;
  }

  li.vjs-selected {
    background-color: $primaryGreen;

    &:hover {
      background-color: $primary;
    }
  }
}

.vjs-subs-caps-button .vjs-menu {
  margin-bottom: 1.0em !important;
}

.video-js .vjs-control-bar {
  /* Audio: Make the controlbar visible by default */
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  /* Increase the control-bar icons/text size */
  font-size: 120%;
}

/* Control bar styling for mobile/tablet devices */
.vjs-mobile-visible {
  opacity: 1 !important;
  display: inline;
  z-index: 50;
}

/* Make VideoJS control bar buttons smaller */
.video-js .vjs-volume-panel .vjs-volume-panel-vertical,
.video-js .vjs-control {
  width: 2.5rem !important;
}

/* Make the horizontal volume panel always visible for audio */
.video-js .vjs-volume-panel.vjs-volume-panel-horizontal.vjs-slider-active {
  transition: none !important;
  width: 8em !important;
}

.video-js.vjs-audio .vjs-volume-panel .vjs-volume-control {
  opacity: 1 !important;
  width: 4em !important;
}

/* Prevent horizontal volume panel from attempting to close for audio */
.video-js .vjs-volume-panel.vjs-volume-panel-horizontal {
  transition: none !important;
  width: 8em !important;
}

/* Make player height minimum to the controls height so when we hide
video/poster area the controls are displayed correctly. */
.video-js.vjs-audio {
  min-height: 3.7em;
}

.video-js .vjs-progress-control:hover .vjs-play-progress:after {
  display: none;
}

/* Show poster image when playback ends */
.video-js.vjs-ended .vjs-poster {
  display: block;
}

.video-js .vjs-current-time {
  display: block;
}

/* Put playhead on top of markers */
.video-js .vjs-play-progress:before {
  z-index: 101;
}

/* time-control elements */
.video-js .vjs-time-control,
.video-js .vjs-time-control .vjs-duration {
  min-width: 0.5rem;
  padding: 0 0.25rem;
  width: auto !important;
}

.vjs-time-divider {
  display: block;
}

.vjs-duration {
  display: block !important;
}

/* big-play button */
.video-js .vjs-big-play-button {
  border-radius: 50%;
  width: 50px;
  scale: 2;
}

/* Reduce media height to prevent media overlapping player boundaries */
.video-js .vjs-tech {
  height: 99.75% !important;
}

/* captions button selection */
.captions-on {
  border-bottom: 0.45rem ridge $primaryGreen;
}

/* captions font for android and tablet fullscreen */
@media screen and (orientation:portrait) {
  .vjs-fullscreen.android {
    // Force text track to bottom of screen but not overlapping control bar
    .vjs-text-track-cue {
      inset: auto 0px 20px !important;
      height: auto !important;
    }

    .vjs-text-track-cue > div {
      font: 22px sans-serif;
    }
  }

  .vjs-fullscreen.tablet {
    // Force text track to bottom of screen but not overlapping control bar
    .vjs-text-track-cue {
      inset: auto 0px 20px !important;
      height: auto !important;
    }

    .vjs-text-track-cue > div {
      font: 32px sans-serif;
    }
  }
}

/** End - Overrides for VideoJS related styling **/

// Webkit override for scroll bars for always-on display in Chrome and Safari
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}