@use 'vars';

[class*='ramp--'] {
  font-family: vars.$fontPrimary;
  color: vars.$primaryDarker;
  font-size: 16px;
}

/** Begin - Overrides for VideoJS related styling **/

// videojs-markers-plugin
.vjs-marker {
  /* to ignore/pass-through click-, tap-, scroll- and hover events
  https://stackoverflow.com/questions/3680429/click-through-div-to-underlying-elements?answertab=active#tab-top
  */
  pointer-events: none;

  &:hover {
    transform: scale(1, 1) !important;
  }
}

// @silvermine/videojs-quality-selector
.vjs-menu {
  li {
    font-size: 1em;
  }

  li.vjs-selected {
    background-color: vars.$primaryGreen;

    &:hover {
      background-color: vars.$primary;
    }
  }
}

.video-js .vjs-control-bar {
  /* Increase the control-bar icons/text size */
  font-size: 120%;
}

/* Control bar styling for mobile/tablet devices */
.vjs-mobile-visible {
  opacity: 1 !important;
  display: inline;
  z-index: 50;
}

/* Make VideoJS control bar buttons smaller */
.video-js .vjs-volume-panel .vjs-volume-panel-vertical,
.video-js .vjs-control {
  width: 2.5rem !important;
}

.video-js .vjs-control-bar {
  /* Ensures text scales with zoom */
  -webkit-text-size-adjust: 100%;
}

/* Center the CC button in mobile devices */
.vjs-subs-caps-button>button {
  padding: 0;
}

.video-js .vjs-progress-control:hover .vjs-play-progress:after {
  display: none;
}

/* Show poster image when playback ends */
.video-js.vjs-ended .vjs-poster {
  display: block;
}

.video-js .vjs-current-time {
  display: block;
}

/* Put playhead on top of markers */
.video-js .vjs-play-progress:before {
  z-index: 101;
}

/* time-control elements */
.video-js .vjs-time-control,
.video-js .vjs-time-control .vjs-duration {
  min-width: 0.5rem;
  padding: 0 0.25rem;
  width: auto !important;
}

.vjs-time-divider {
  display: block;
}

.vjs-duration {
  display: block !important;
}

.vjs-playback-rate-value {
  line-height: 2.25 !important;
  font-size: 1.25em !important;
}

/* big-play button */
.video-js .vjs-big-play-button {
  border-radius: 50%;
  // Use 'font-size' instead of 'scale' to avoid blurriness in Safari
  font-size: 6em;
  // Make it a perfect circle by matching width to height
  width: 1.7em;
  height: 1.7em;
  // Center the button horizontally (width / 2) because width is changed
  // and videojs positions this button using specific margin values
  margin-left: -0.85em;
  // Override background-color alpha to make the button opaque
  background-color: rgb(43, 51, 63) !important;
}

.vjs-disabled {
  pointer-events: none;
}

/* Reduce media height to prevent media overlapping player boundaries */
.video-js .vjs-tech {
  height: 99.75% !important;
}

/* captions button selection */
.is-mobile .captions-on {
  border-bottom: 0.3rem ridge vars.$primaryGreen !important;
}

.captions-on {
  border-bottom: 0.35rem ridge vars.$primaryGreen !important;
}

/* display text track cues above the controls when controls are visible */
.video-js.vjs-user-active .vjs-text-track-display .vjs-text-track-cue,
.video-js.vjs-user-inactive.vjs-has-started.vjs-paused .vjs-text-track-display .vjs-text-track-cue {
  inset: 18.75em 0 !important;
  transform: translateY(-100%);
}

/** End - Overrides for VideoJS related styling **/

// Webkit override for scroll bars for always-on display in Chrome and Safari
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

/* Loading spinner */
.lds-spinner {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 30rem;
  left: 43%;
  top: 45%;
}

.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: vars.$primaryGreenDark;
}

.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}

@keyframes lds-spinner {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
