@import './vars';

[class*='irmp--'] {
  font-family: $fontPrimary;
  color: $primaryDark;
}

.irmp--structured-nav {
  a {
    color: $primaryDark;
    transition: 0.25s;

    &:hover {
      color: $primary;
    }
  }
}

// Override videojs-markers-plugin styling
.vjs-marker {
  &:hover {
    transform: scale(1);
  }
}

// Override @silvermine/videojs-quality-selector styling
.vjs-menu {
  li {
    font-size: 1em;
  }
  li.vjs-selected {
    background-color: $primaryGreen;
    &:hover {
      background-color: $primary;
    }
  }
}

.video-js .vjs-control-bar {
  /* Audio: Make the controlbar visible by default */
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  /* Increase the control-bar icons/text size */
  font-size: 120%;
}

/* Make player height minimum to the controls height so when we hide video/poster area the controls are displayed correctly. */
.video-js.vjs-audio {
  min-height: 3.7em;
}

.video-js .vjs-progress-control:hover .vjs-play-progress:after {
  display: none;
}

/* Show poster image when playback ends */
.video-js.vjs-ended .vjs-poster {
  display: block;
}
