@import './vars';

[class*='irmp--'] {
  font-family: $fontPrimary;
  color: $primaryDark;
}

// Override videojs-markers-plugin styling
.vjs-marker {
  /* to ignore/pass-through click-, tap-, scroll- and hover events 
  https://stackoverflow.com/questions/3680429/click-through-div-to-underlying-elements?answertab=active#tab-top
  */
  pointer-events: none;

  &:hover {
<<<<<<< HEAD
    transform: scaleY(1.3) !important;
=======
    transform: scale(1) !important;
>>>>>>> [WIP] Add time-tooltip to progress bar
  }
}

// Override @silvermine/videojs-quality-selector styling
.vjs-menu {
  li {
    font-size: 1em;
  }
  li.vjs-selected {
    background-color: $primaryGreen;
    &:hover {
      background-color: $primary;
    }
  }
}

.video-js .vjs-control-bar {
  /* Audio: Make the controlbar visible by default */
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  /* Increase the control-bar icons/text size */
  font-size: 120%;
}

/* Make player height minimum to the controls height so when we hide video/poster area the controls are displayed correctly. */
.video-js.vjs-audio {
  min-height: 3.7em;
}

.video-js .vjs-progress-control:hover .vjs-play-progress:after {
  display: none;
}

/* Show poster image when playback ends */
.video-js.vjs-ended .vjs-poster {
  display: block;
}

.video-js .vjs-current-time {
  display: block;
}
