@import './vars';

body {
  font-family: $fontPrimary;
  color: $primaryDark;
}

a {
  color: $primaryDark;
  transition: 0.25s;

  &:hover {
    color: $primary;
  }
}

.video-js .vjs-control-bar {
  display: flex !important;
}
