/*
  Adapted from: https://github.com/videojs/themes/blob/master/city/index.css
*/
.vjs-theme-ramp {
  min-width: 480px;
  min-height: 270px;
}

.vjs-theme-ramp .vjs-control-bar {
  height: 5em;
  padding-top: 1em;
  background: none;
  background-image: linear-gradient(to top, #000, rgba(0, 0, 0, 0));
  display: inline-block;
}

.vjs-theme-ramp .vjs-button>.vjs-icon-placeholder::before {
  line-height: 50px;
}

.vjs-theme-ramp .vjs-play-progress::before {
  display: none;
}

.vjs-theme-ramp .vjs-progress-control {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 20px;
}

.vjs-theme-ramp .vjs-custom-progress-bar {
  position: absolute;
  width: 100%;
  top: 0.5em;
}

.vjs-theme-ramp .vjs-progress-control .vjs-progress-holder {
  position: absolute;
  top: 20px;
  right: 0;
  left: 0;
  width: 100%;
  margin: 0;
}

.vjs-theme-ramp .vjs-play-progress {
  background-color: var(--vjs-theme-ramp--primary);
}

.vjs-theme-ramp .vjs-control-bar .vjs-time-control {
  line-height: 4em;
  float: inline-start;
}

// Remove padding around time-divider (/)
.vjs-theme-ramp .vjs-time-divider {
  padding: 0;
}

.vjs-theme-ramp .vjs-duration {
  padding-left: 0;
}

.vjs-theme-ramp .vjs-control-bar .vjs-play-control {
  float: inline-start;
}

.vjs-theme-ramp .vjs-menu-button-popup .vjs-menu {
  bottom: 0.9em;
}

.vjs-theme-ramp .vjs-volume-panel,
.vjs-theme-ramp .vjs-picture-in-picture-control,
.vjs-theme-ramp .vjs-fullscreen-control,
.vjs-theme-ramp .vjs-track-scrubber,
.vjs-theme-ramp .vjs-playback-rate.vjs-control,
.vjs-theme-ramp .vjs-quality-selector,
.vjs-theme-ramp .vjs-file-download,
.vjs-theme-ramp .vjs-subs-caps-button {
  float: inline-end;
}

.vjs-theme-ramp.vjs-touch-enabled .vjs-mute-control {
  float: inline-end;
}

.vjs-them-city .vjs-menu-button-popup .vjs-menu-content {
  display: none !important;
}

.vjs-them-city .vjs-hover.vjs-menu-button-popup .vjs-menu-content {
  display: none !important;
}
