@use '../../../styles/vars';

.ramp--media-player_inaccessible-message-content {
  width: 50%;
  color: vars.$primaryLightest;
  a {
    color: vars.$primaryGreen
  }
}

.ramp--media-player_inaccessible-message-buttons {
  display: flex;
  gap: 0.5em;

  button {
    border: 1px solid;
    color: white;
    background-color: vars.$primaryGreenDark;
    padding: 0.5em;
    border-radius: 0.3em;
    cursor: pointer;
    font-size: medium;
    display: flex;
    align-items: center;
    gap: 0.25em;
  }
}

.ramp--media-player_inaccessible-message-timer {
  color: inherit;
  margin: 1em 0;
}

.ramp--media-player_inaccessible-message-timer.hidden {
  visibility: hidden
}
