/*
  Adapted from: https://github.com/videojs/themes/blob/master/city/index.css
*/

/* Minimum height and width for audio player */
.vjs-theme-ramp.vjs-audio-only-mode {
  min-width: 490px;
  min-height: 40px;
}

/* Minimum height and width for video player */
.vjs-theme-ramp {
  min-width: 490px;
  min-height: 270px;
}

.vjs-theme-ramp .vjs-control-bar {
  height: 5em;
  padding-top: 1em;
  background: none;
  background-image: linear-gradient(to top, #000, rgba(0, 0, 0, 0));
  display: flex;
}

.vjs-theme-ramp .vjs-custom-progress-bar {
  position: absolute;
  width: 100% !important;
  top: 0.5em;
  margin: 0;
}

.vjs-theme-ramp .vjs-progress-control .vjs-progress-holder {
  position: absolute;
  top: 20px;
  right: 0;
  left: 0;
  width: 100%;
  margin: 0;
}

/* Time controls */
.vjs-theme-ramp .vjs-control-bar .vjs-time-control {
  line-height: 4em;
}

/* Remove padding around time-divider (/) */
.vjs-theme-ramp .vjs-time-divider {
  padding: 0;
}

.vjs-theme-ramp .vjs-duration {
  padding-left: 0;
}

/* Play action controls */
.vjs-theme-ramp .vjs-control-bar .vjs-play-control {
  float: inline-start;
}

/* Rest of the controls */
.vjs-theme-ramp .vjs-mute-control,
.vjs-theme-ramp .vjs-volume-panel {
  margin-left: auto;
}
.vjs-theme-ramp .vjs-picture-in-picture-control,
.vjs-theme-ramp .vjs-fullscreen-control,
.vjs-theme-ramp .vjs-track-scrubber,
.vjs-theme-ramp .vjs-playback-rate.vjs-control,
.vjs-theme-ramp .vjs-quality-selector,
.vjs-theme-ramp .vjs-file-download,
.vjs-theme-ramp .vjs-subs-caps-button {
  margin-left: 0;
}

/* Reduce height of full-screen toggle for easy scrubbing on progress */
.vjs-theme-ramp .vjs-control-bar .vjs-fullscreen-control,
.vjs-theme-ramp .vjs-control-bar .vjs-track-scrubber {
  margin-top: 0.5em;
  height: 70%;
}

/* Mute control */
.vjs-theme-ramp .vjs-mute-control {
  display: none; // Hide mute control by default
}

.vjs-theme-ramp.vjs-touch-enabled .vjs-mute-control {
  margin-left: auto;
  display: block !important; // Show mute control only on mobile devices
}

/* Popup-menu button controls */
.vjs-theme-ramp .vjs-menu-button>.vjs-icon-placeholder {
  margin-top: 0.5em;
}

.vjs-theme-ramp .vjs-menu-button-popup .vjs-menu {
  margin-bottom: 0.75em;
}

.vjs-theme-ramp div.vjs-menu-button {
  height: 60%;
  margin-top: 0.5em;
}

/* Volume stuff */
.vjs-theme-ramp .vjs-volume-panel:hover .vjs-volume-control.vjs-volume-horizontal {
  height: 100%;
}

.vjs-theme-ramp .vjs-volume-panel {
  margin-right: 0.5em;
}

.vjs-theme-ramp .vjs-volume-panel,
.vjs-theme-ramp .vjs-volume-panel:hover,
.vjs-theme-ramp .vjs-volume-panel.vjs-volume-panel-horizontal:hover,
.vjs-theme-ramp .vjs-volume-panel:focus .vjs-volume-control.vjs-volume-horizontal,
.vjs-theme-ramp .vjs-volume-panel:hover .vjs-volume-control.vjs-volume-horizontal,
.vjs-theme-ramp .vjs-volume-panel:active .vjs-volume-control.vjs-volume-horizontal,
.vjs-theme-ramp .vjs-volume-panel.vjs-volume-panel-horizontal:hover,
.vjs-theme-ramp .vjs-volume-bar.vjs-slider-horizontal {
  width: 3em;
}

.vjs-theme-ramp .vjs-volume-level::before {
  font-size: 1em;
}

.vjs-theme-ramp .vjs-volume-panel .vjs-volume-control {
  opacity: 1;
  width: 100%;
  height: 100%;
}

.vjs-theme-ramp .vjs-volume-bar {
  background-color: transparent;
  margin: 0;
}

.vjs-theme-ramp .vjs-slider-horizontal .vjs-volume-level {
  height: 100%;
}

.vjs-theme-ramp .vjs-volume-bar.vjs-slider-horizontal {
  margin-top: 1em;
  margin-bottom: 0;
  height: 100%;
}

.vjs-theme-ramp .vjs-volume-bar::before {
  content: '';
  z-index: 0;
  width: 0;
  height: 0;
  position: absolute;
  top: 0px;
  left: 0;

  border-style: solid;
  border-width: 0 0 1.75em 3em;
  border-color: transparent transparent rgba(255, 255, 255, 0.25) transparent;
}

.vjs-theme-ramp .vjs-volume-level {
  overflow: hidden;
  background-color: transparent;

  .vjs-icon-placeholder {
    display: none;
  }
}

.vjs-theme-ramp .vjs-volume-level::before {
  content: '';
  z-index: 1;
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;

  border-style: solid;
  border-width: 0 0 1.75em 3em;
  border-color: transparent transparent #fff transparent;
}
