@import '../../styles/vars';

.ramp--metadata-display {
  min-width: 30rem;

  p {
    padding-left: 1rem;
  }

  .ramp--metadata-display-title {
    border: 0.05rem solid $primaryLight;
    border-radius: 0.25rem 0.25rem 0 0;
    margin-bottom: 1rem;
    background: $primaryLightest;

    h4 {
      font-weight: normal;
      padding: 0.5rem 1.5rem;
      margin: 0;
      color: $primaryDarker;
    }

  }

  .ramp--metadata-display-content {
    padding: 0 0 1.5rem 1.5rem;
    color: $primaryDarker;
    max-height: 30rem;
    overflow-y: auto;

    dt {
      font-weight: bold;
    }

    dd {
      padding-bottom: 1rem;
    }

    a {
      color: $primaryGreenDark;
    }
  }
}
