@import '../../../../../styles/_vars.scss';

.video-js .vjs-custom-progress-bar {
  cursor: pointer;
  display: flex;
  align-items: center;
  min-width: 4em;
  touch-action: none;
  height: 0.5em;
}

// Hide thumb in the progress-bar
.video-js.vjs-touch-enabled .vjs-custom-progress-bar {
  .vjs-play-progress span svg {
    display: none !important;
  }
  z-index: 1001;
}

.video-js .vjs-progress-control:hover .vjs-progress-holder {
  font-size: 0.75em;

  .vjs-time-tooltip {
    font-size: 1.25em !important;
  }
}

.vjs-custom-progress-bar {
  .vjs-play-progress span svg {
    height: 1em;
    margin-top: 0.1em;
  }
  .vjs-play-progress .vjs-time-tooltip {
    display: none !important;
  }

  .vjs-mouse-display .vjs-time-tooltip {
    background-color: white;
    color: black
  }

  .vjs-marker.ramp--track-marker--playlist {
    top: 0.75em; // same height as .vjs-custom-progress-bar
  }

  &:hover {
    height: 1em !important;
    transition: height 0.15s ease-in-out;
    -webkit-transition: height 0.15s ease-in-out;

    .vjs-play-progress span svg {
      height: 1.25em;
      transition: height 0.15s ease-in-out;
      -webkit-transition: height 0.15s ease-in-out;
    }

    .block-stripes {
      height: inherit;
      transition: height 0.15s ease-in-out;
      -webkit-transition: height 0.15s ease-in-out;
    }

    .vjs-marker.ramp--track-marker--playlist {
      top: 1em; // same height as .vjs-custom-progress-bar
      transition: top 0.15s ease-in-out;
      -webkit-transition: top 0.15s ease-in-out;
    }

    .vjs-marker.ramp--track-marker--fragment {
      top: -0.425em;
      transition: top 0.15s ease-in-out;
      -webkit-transition: top 0.15s ease-in-out;
    }

    .vjs-marker.ramp--track-marker--search {
      top: 0.35em;
      transition: top 0.15s ease-in-out;
      -webkit-transition: top 0.15s ease-in-out;
    }

    .vjs-mouse-display .vjs-time-tooltip {
      visibility: visible;
      display: block;
    }
  }
}

.block-stripes {
  position: absolute;
  color: white;
  height: 0.5em; // same height as .vjs-custom-progress-bar
  background: repeating-linear-gradient(45deg,
      $primaryDarker,
      $primaryDarker 8px,
      $primaryDark 8px,
      $primaryDark 16px);
}

#left-block {
  z-index: 1;
}

#right-block {
  position: relative;
}

.video-js .vjs-play-progress {
  background-color: $primaryGreenDark;
}

.video-js .vjs-play-progress>span>svg {
  z-index: 2;
}

.video-js .vjs-progress-holder.played-range {
  background: linear-gradient(90deg,
      $primaryGreenDark var(--range-progress),
      $primaryGreenLight var(--range-progress));
}
