@import '../../../../../styles/_vars.scss';

.video-js .vjs-custom-progress-bar {
  cursor: pointer;
  display: flex;
  align-items: center;
  min-width: 4em;
  touch-action: none;
  height: 1em;
}

.vjs-progress-holder {
  border-radius: 0px;
  height: 4px !important;
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.vjs-custom-progress-bar {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: $primaryGreenLight;
  height: 4px;
  margin: 0;
  cursor: pointer;

  .vjs-mouse-display .vjs-time-tooltip {
    background-color: white;
    color: black
  }

  &:hover {
    height: 0.75em !important;
    transition: height 0.15s ease-in-out;
    -webkit-transition: height 0.15s ease-in-out;

    .vjs-play-progress span svg {
      height: 1.25em;
      transition: height 0.15s ease-in-out;
      -webkit-transition: height 0.15s ease-in-out;
    }

    .block-stripes {
      height: 0.75em !important;
      transition: height 0.15s ease-in-out;
      -webkit-transition: height 0.15s ease-in-out;
    }

    .vjs-marker.ramp--track-marker--playlist {
      top: 0.75em;
      transition: top 0.15s ease-in-out;
      -webkit-transition: top 0.15s ease-in-out;
    }

    .vjs-marker.ramp--track-marker--fragment {
      top: -0.315em;
      transition: top 0.15s ease-in-out;
      -webkit-transition: top 0.15s ease-in-out;
    }

    .vjs-marker.ramp--track-marker--search {
      top: 0.25em;
      transition: top 0.15s ease-in-out;
      -webkit-transition: top 0.15s ease-in-out;
    }

    .vjs-mouse-display .vjs-time-tooltip {
      visibility: visible;
      display: block;
    }
  }
}

.block-stripes {
  color: white;
  height: 4px;
  background: repeating-linear-gradient(45deg,
      $primaryDarker,
      $primaryDarker 8px,
      $primaryDark 8px,
      $primaryDark 16px);
}

#left-block {
  z-index: 1;
}

#right-block {
  position: relative;
}

.video-js .vjs-play-progress {
  background-color: $primaryGreenDark;
}

.video-js .vjs-play-progress>span>svg {
  z-index: 2;
}

.video-js .vjs-progress-holder.preceeding-inactive-range {
  background: linear-gradient(90deg,
      $primaryGreenDark var(--range-progress),
      $primaryGreenLight var(--range-progress));
}
