@use '../../../../../styles/_vars.scss';

.vjs-track-scrubber {
  cursor: pointer;

  .vjs-icon-zoom {
    height: 1.25em;
    width: 1.25em;
    scale: 1.15;

    &:hover {
      filter: drop-shadow(0 0 0.25em #fff);
    }
  }
}

.vjs-track-scrubber-container {
  background: #696667;
  color: white;
  padding: 0pt 10pt 10pt 10pt;
  border: 1pt solid #353536;
  list-style-type: none;
  margin: 0;
  padding: 0;
  bottom: 0;
  left: 0;
  height: 36px;
  width: 99.725%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 680px) {
    width: 99.55%;
  }

  @media (min-width: 1081px) {
    width: 99.825%;
  }

  &.hidden {
    display: none;
  }

  .vjs-track-scrubber {
    cursor: pointer;
    height: 20px;
    width: 100%;
    background: linear-gradient(90deg,
        vars.$primaryGreen var(--range-scrubber),
        vars.$primaryDarker var(--range-scrubber))
  }

  .vjs-time {
    color: #fff;
    width: 4rem;
    padding: 2px 5px;
    text-align: center;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    line-height: 1.5rem;
    font-size: 0.75rem;

    p {
      color: #fff;
      font-size: 11px;
      line-height: 12px;
      display: block;
      margin: 6px 2px 0 0px;
      width: auto;
    }
  }

  .tooltiptext {
    visibility: hidden;
    width: 5em;
    background-color: vars.$primaryDark;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
    bottom: 2.5em;
    position: relative;
    z-index: 1000;
    font-size: 0.75rem;
  }

  &:hover {
    .tooltiptext {
      visibility: visible;
    }
  }

  .tooltiptext::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: vars.$primaryDark transparent transparent transparent;
  }
}
