.vjs-logout-menu {
  cursor: pointer;

  .vjs-user-icon,
  .vjs-logout-icon {
    height: 1.25em;
    width: 1.25em;
    scale: 1.15;

    &:hover {
      filter: drop-shadow(0 0 0.25em #fff);
    }
  }
  .vjs-logout-icon {
    margin-top: 0.25rem;
  }

  // Align the right edge of the menu with the player
  .vjs-menu {
    left: unset;
    right: 0;

    li {
      text-transform: none;
      text-align: initial;
      padding-left: 0.5em;
    }
  }
}

.vjs-auth-label {
  cursor: default;
  opacity: 0.7;
  pointer-events: none;
}
