@import '../../../../../styles/_vars.scss';

.vjs-track-scrubber {
  cursor: pointer;

  .vjs-icon-zoom {
    height: 1.25em;
    width: 1.25em;
    scale: 1.15;

    &:hover {
      filter: drop-shadow(0 0 0.25em #fff);
    }
  }
}

.vjs-track-scrubber-container {
  background: #696667;
  color: white;
  padding: 0pt 10pt 10pt 10pt;
  border: 1pt solid #353536;
  list-style-type: none;
  margin: 0;
  padding: 0;
  bottom: 0;
  left: 0;
  height: 36px;
  width: 99.725%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 680px) {
    width: 99.55%;
  }

  @media (min-width: 1081px) {
    width: 99.825%;
  }

  &.hidden {
    display: none;
  }

  .vjs-track-scrubber {
    cursor: pointer;
    height: 20px;
    width: 100%;
    background: linear-gradient(90deg,
        $primaryGreen var(--range-scrubber),
        $primaryDarker var(--range-scrubber))
  }

  .vjs-time {
    color: #fff;
    width: 4rem;
    padding: 2px 5px;
    text-align: center;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    line-height: 1.5rem;
    font-size: 0.75rem;

    p {
      color: #fff;
      font-size: 11px;
      line-height: 12px;
      display: block;
      margin: 6px 2px 0 0px;
      width: auto;
    }
  }

  .tooltiptext {
    visibility: hidden;
    width: 5em;
    background-color: $primaryDark;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
    bottom: 2.5em;
    position: relative;
    z-index: 1000;
    font-size: 0.75rem;
  }

  &:hover {
    .tooltiptext {
      visibility: visible;
    }
  }

  .tooltiptext::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: $primaryDark transparent transparent transparent;
  }
}


.vjs-marker.ramp--track-marker--fragment {
  &[style] {
    // specificity hack to beat inline styles
    background-color: #80A590 !important;
    border-radius: 0 !important;
  }

  opacity: 0.5;
  height: 16px;
  top: -0.425em;
}

.vjs-marker.ramp--track-marker--playlist {
  &[style] {
    // specificity hack to beat inline styles
    background-color: transparent !important;
    border-radius: 0 !important;
    width: 0.5em !important;
  }
  height: 0.5em;
  transform: rotate(-45deg);
  top: 4px;
  content: '';
  border-color: #fff;
  border-style: solid;
  border-width: 0.25em 0.25em 0 0;
}

.vjs-marker.ramp--track-marker--search {
  &[style] {
    // specificity hack to beat inline styles
    background-color: $primaryGreenDark !important;
    border-radius: 0 !important;
    width: 6px !important;
  }

  top: 0.25em;
  height: 6px;
  opacity: 0.75;
  transition: opacity 200ms ease-out,
  transform 200ms ease-out,
  box-shadow 200ms ease-out;
  box-shadow: 0 0 0px 1px rgba(255, 255, 255, 0.95),
  0 0 8px 0px rgba(0, 0, 0, 0.75);
  pointer-events: all;
  transform: translate(-25%, -25%) rotate(45deg) scale(1) !important;

  &:hover {
    opacity: 1;
    transform: translate(-25%, -25%) rotate(45deg) scale(1.75) !important;
    box-shadow: 0 0 0x 2px rgba(255, 255, 255, 0.95),
      0 0 8px 1px rgba(0, 0, 0, 0.75);
  }
}
