html {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

div.iiif-player-demo {
  .ramp--media_player {
    margin: 0 10%;
  }

  .components-row {
    padding: 0 1rem;
    margin-top: 20px;
    display: flex;
    min-height: 40vh;
  }

  .ramp--structured-nav {
    flex: 1;
  }

  .ramp--metadata-display {
    margin-top: 1rem
  }

  .nav {
    flex: 1;
    margin-right: 2rem;
  }

  // Reference: https://codepen.io/alvarotrigo/pen/xxXoMJy
  .tabs {
    flex: 1;
    position: relative;
    display: flex;
    border-radius: 0.5rem 0.5rem 0 0;
  }

  .tab-nav {
    flex: 1;
  }

  .tab-nav>label {
    display: block;
    box-sizing: border-box;
    /* tab content must clear this */
    height: 2.5rem;

    padding: 10px;
    text-align: center;
    cursor: pointer;
    transition: background 0.5s ease;
    color: black;
  }

  .tab-nav>label:hover {
    background: #d3d3d3;
    border-radius: 0.5rem 0.5rem 0 0;
  }

  .tab-content {
    position: absolute;
    border: 1px solid #d3d3d3;
    height: max-content;

    left: 0;
    bottom: 0;
    right: 0;
    /* clear the tab labels */
    top: 2.5rem;

    border-radius: 0 0 0.5rem 0.5rem;

    transition:
      opacity 0.8s ease,
      transform 0.8s ease;

    /* show/hide */
    opacity: 0;
    transform: scale(0.1);
    transform-origin: top left;
  }


  /* MAKE IT WORK ----- */
  .tab-nav [type=radio] {
    display: none;
  }

  [type=radio]:checked~label {
    z-index: 2;
    border: 1px solid #d3d3d3;
    border-bottom: none;
    border-radius: 0.5rem 0.5rem 0 0;
  }

  [type=radio]:checked~label~.tab-content {
    z-index: 1;

    /* show/hide */
    opacity: 1;
    transform: scale(1);
  }
}

.ramp-demo {
  margin: auto;
  width: 75%;

  .ramp--description {
    margin-bottom: 15px;
  }

  .ramp-demo__manifest-input {
    width: 80%;
    padding: 11px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    resize: vertical;
    font-size: medium;
  }

  .ramp-demo__manifest-input-label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }

  .ramp-demo__manifest-submit {
    background-color: #2a5459;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    font-size: medium;
  }

  .ramp-demo__manifest-submit:hover {
    background-color: #80a590;
  }

  .ramp--form_container {
    background-color: #f2f2f2;
    padding: 15px;
    border-radius: 5px;
  }

  .col-1 {
    float: left;
    width: 10%;
    margin-top: 5px;
  }

  .col-2 {
    float: left;
    width: 90%;
    margin-top: 5px;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .ramp--player_container {
    padding: 10px;
  }

  @media screen and (max-width: 835px) {
    .components-row {
      flex-direction: column;
    }

    .tabs {
      margin-top: 2rem;
    }

    input[type=url] {
      width: 75%;
    }

    .col-2 {
      width: 90%;
      margin-top: 5px;
    }
  }
}
