html {
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
  /*
    Use 'scrollbar-gutter' with 'overflow-y' as a fallback to fix
    layout shifts in Chrome and Safari when content expands.
  */
  scrollbar-gutter: stable;
  overflow-y: scroll;
}

.ramp-demo {
  margin: 0 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(240px, 1fr));

  .ramp--details,
  .ramp--player_container {
    grid-column-start: 1;
    grid-column-end: end;
  }

  .ramp-demo__manifest-input {
    width: 80%;
    padding: 11px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    resize: vertical;
    font-size: medium;
  }

  .ramp-demo__manifest-input-label {
    padding: 0.75em 0.75em 0.75em 0;
    display: inline-block;
  }

  .ramp-demo__manifest-submit {
    background-color: #2a5459;
    color: white;
    padding: 0.75em 1.25em;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    font-size: medium;
  }

  .ramp-demo__manifest-submit:hover {
    background-color: #80a590;
  }

  .ramp--form_container {
    background-color: #f2f2f2;
    padding: 15px;
    border-radius: 5px;
  }

  .col-1 {
    float: left;
    width: 10%;
    margin-top: 5px;
  }

  .col-2 {
    float: left;
    width: 90%;
    margin-top: 5px;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .ramp--player_container {
    padding: 10px 0;
  }

  .components-row {
    margin-top: 1rem;
    display: grid;
    gap: 0.1rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  }

  /*Reference: https://accessible-react.eevis.codes/components/tabs */
  .tablist {
    display: flex;
    flex-direction: row;
  }

  .tablist>li {
    list-style: none;
  }

  .tablist>li>button {
    padding: 0.5rem;
    background-color: transparent;
    border: none;
    color: black;
    font-size: 1rem;
    font-family: inherit;
    cursor: pointer;

    &:hover {
      background-color: #d3d3d3;
      border-radius: .5rem .5rem 0 0;
    }
  }

  .tablist>li>[aria-selected="true"] {
    border: 1px solid #d3d3d3;
    border-bottom: none;
    border-radius: .5rem .5rem 0 0;
  }

  .tabs-wrapper {
    flex: 1;
    position: relative;
    padding: 1rem;
  }

  /* From Every Layout (https://every-layout.dev/) */
  .switcher>* {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding-left: 0;
  }

  .switcher>*>* {
    flex-grow: 1;
    flex-basis: auto;
    margin: 0;
  }

  .switcher>*> :nth-last-child(n + 5),
  .switcher>*> :nth-last-child(n + 5)~* {
    flex-basis: 100%;
  }

  .tabpanel {
    border: 1px solid #d3d3d3;
    border-radius: 0 0 0.5rem 0.5rem;
  }

  .ramp--supplemental-files {
    overflow-y: scroll;
  }
}
