@import '../../../../styles/vars';

.vjs-download-btn {
  color: white;
  border: none;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
}

.vjs-file-download {
  position: relative;
  display: inline-block;
}

.vjs-menu-content.file-download-menu {
  position: absolute;
  background-color: rgba(43, 51, 63, 0.7);
  min-width: max-content;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: -100%;
  bottom: 100%;

  .menu-header {
    background-color: $primaryDark;
  }
}

.vjs-menu-content a {
  color: white;
  padding: 0 1.5rem 0 0.5rem;
  text-decoration: none;
}

.vjs-menu-item-text span,
svg {
  vertical-align: middle;
  display: inline-block;
}

.vjs-menu-content li:hover {
  background-color: rgba(115, 133, 159, 0.5);
}
