@use '../../styles/vars';

.ramp--auto-advance {
  user-select: none;
  display: flex;
  align-content: center;
  border: 0.05rem solid vars.$primaryLight;
  border-radius: 0.25rem;
  background: vars.$primaryLightest;
  width: fit-content;
  padding: 0.5rem 1.5rem;
  max-height: 2rem;
  gap: 1rem;
}

.ramp--auto-advance .ramp--auto-advance-label {
  margin-bottom: 1rem;
  font-weight: normal;
  margin: 0;
  color: vars.$primaryDarker;
  padding: 0.25rem;
}

.ramp--auto-advance .slider {
  position: relative;
  display: inline-block;
  border-radius: 34px;
  height: 34px;
  width: 60px;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.ramp--auto-advance .slider span {
  position: absolute;
  top: 2px;
  left: 2px;
  display: inline-block;
  border: 2px solid white;
  border-radius: 34px;
  height: 26px;
  width: 26px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.ramp--auto-advance[aria-checked="true"] .slider {
  background: vars.$primaryGreenDark;
  span {
    left: 28px;
  }
}
